*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    width: 100%;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}
header {
    width: 100%;
    height: 70px;
    background-color: #78be20;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.menupaginas{
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menupaginas li input[type="text"] {
    width: 300px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
}

#menupaginas{
    display: flex;
    align-items: center;
}

.menupaginas li img.imgs {
    width: 35px;
    height: 35px;
    object-fit: contain;
    /* filter: brightness(0) invert(1); */
    cursor: pointer;
    transition: transform 0.2s ease;
}

#imlogo {
    width: 50px;
    height: auto;
    filter: none;
}

.ventana-notificaciones {
    display: none; 
    position: fixed;
    top: 80px;      
    left: 0;        
    width: 320px;     
    height: calc(100vh - 80px);
    background-color: white;
    border-right: 2px solid #e0e0e0;
    box-shadow: 4px 0 10px rgba(0,0,0,0.1);
    z-index: 9999;    
    overflow-y: auto; 
}

.notificaciones-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #e0e0e0;
}

.icon-noti-header {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


.item-notificacion {
    padding: 20px 15px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s;
}

.item-notificacion:hover {
    background-color: #f5f6f7;
}

.item-notificacion p {
    font-size: 14px;
    line-height: 1.4;
    color: #222;
    margin: 0;
}